/.idea/dataSources/644526d9-7164-417e-8e0c-e688ffabfeb5.xml
/.idea/checkstyle-idea.xml
/.idea/compiler.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/encodings.xml
/.idea/jpa.xml
/.idea/dataSources/644526d9-7164-417e-8e0c-e688ffabfeb5/storage_v2/_src_/database/latex_db.S830qQ.meta
/.idea/misc.xml
/.idea/dataSources/644526d9-7164-417e-8e0c-e688ffabfeb5/storage_v2/_src_/database/latex_db.S830qQ/schema/public.abK9xQ.meta
/.idea/shelf/Uncommitted_changes_before_Checkout_at_11_4_2024_00_40_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_11_4_2024_00_40_[Changes]1/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_11_4_2024_00_40__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
